body {
  background-color: #4285F4;
  /* background-image: url("https://wallpaperscraft.com/image/highlights_circles_spots_light_background_39040_1920x1080.jpg"); */
  background-image: url("https://s3.amazonaws.com/videoblocks-content/video/thumbnail/HPOKFbR/abstract-animated-computer-script-programming-code-as-technology-background-1920x1080-full-hd-footage_qktlwvii__F0000.png");
}

.navbar {
  background-color: #2BBBAD;
  background-color: #c0ded9;
  background-image: url("https://images.vexels.com/media/users/3/125411/preview2/8e2fb93595079d63276a2c64f73e4804-clear-geometric-shapes-abstract-background.jpg");
}

.anchor-padding {
  padding-top: 50px;
  margin-top: -50px;
}

.freddy {
  background-color: black;
  /* background-image: url("http://www.imperialenterpriselab.com/wp-content/uploads/2017/02/software.jpg"); */
  background-image: url("http://ak0.picdn.net/shutterstock/videos/13042880/thumb/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-format {
  padding-top: 100px;
  padding-bottom: 100px;
}

.button-style {
  color: #F0E68C;
  font-family: 'Quattrocento', serif;
  background-color: #4040a1;
  border-style: double;
  border-color: #DAA520;
  border-width: 3px;
  border-radius: 5px;
  margin: 0 20px;
}

div.transbox {
    margin-top: 65px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    border-radius: 30px;
}

div.transbox p {
    margin: 1%;
    font-weight: bold;
    font-family: 'Play', sans-serif;
    color: slate;
    text-align: center;
    font-size: 45px;
}

.bio-config {
  background-color:black;
  color: white;
  padding: 30px 0;
  font-family: 'Open Sans', sans-serif;
}

.bio-title {
  font-size: 20px;
  font-family: 'Spectral SC', serif;
}

.projects-config {
  background-color: black;
}


.img-head{
  border-radius: 20px;
  margin-bottom: 5px;
}

.card {
  border-color: white;
  margin-bottom: 20px;
  display: inline-block;
  overflow: hidden
}
.card-title {
  font-family: 'Spectral SC', serif;
}

.card-block {
  font-family: 'Open Sans', sans-serif;
  background-color: #c5d5c5;
  color: black;
}

.card-block a {
  color:  #4040a1;
  font-family: 'Quattrocento', serif;
}

#cloud {
  border-radius: 20px;
  height: 200px;
  width: 100%;
}

#buttons {
  padding-bottom: 10px;
  border-bottom:1px solid #444
}

#buttons button {
  color: white;
  background-color: black;
  border: white 2px solid;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 5px;
  font-family: 'Quattrocento', serif;
}

#buttons button.myHover:hover {
  background-color: white;
  color: black;
  border: #c5d5c5 2px solid;
  border-radius: 10px
}

.card-img-top  {
  transition: transform .7s ease-out;
}

.card-img-top:hover  {
  transform: scale(1.2);
}
