body {
  padding-top: 50px;
  background-color: #4285F4;
}

.navbar {
  background-color: #2BBBAD

}

.navbar .navbar-brand {
  color: #2E2E2E;
}

 .navbar .nav-link {
  color:white;
}

.anchor-padding {
  padding-top: 50px;
  margin-top: -50px;
}


.freddy {
  background-image: url("http://www.imperialenterpriselab.com/wp-content/uploads/2017/02/software.jpg");
  background-size:100% auto;

}

.button-format {

  padding-top: 250px;
  padding-bottom: 260px;

}

.button-style {
  color: white;
  background-color: #c62828;
  border-style: double;
  border-color: black;
  border-width: 3px;
  border-radius: 5px;
  margin: 0 20px;
}

.bio-config {
  background-color:black;
  color: white;
  padding: 30px 0;
}

.projects-config {
  /*background-color: #9068be;*/
  background-color: black;
}


.img-head{
  border-radius: 20px;
  margin-bottom: 5px;
}

.card {
  border-color: white;
  margin-bottom: 20px;
  display: inline-block;
}

.card-block {
  background-color: #eecccc;
}

#cloud {
  border-radius: 20px;
  height: 200px;
}

#buttons {
  padding-bottom: 10px;
}

#buttons button {
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  border-bottom:1px solid #444
}
